$bg: #0b0e14;
$fg: #fff;

body {
  font-family: "Avenir Next", "Open Sans", Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;

  max-width: 70ch;
  margin: 0 auto;
  padding: 1em;

  color: $fg;
  background: $bg;
}

p {
  text-align: justify;
}

a code {
  color: inherit;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2,
h3 {
  margin-top: 2em;
}

article {
  margin: 2em 0;
}

blockquote {
  font-style: italic;
}

$link-color: #ffaa33;

a {
  color: $link-color;

  &:visited {
    color: darken($link-color, 10%);
  }

  &:hover,
  &:focus {
    color: lighten($link-color, 10%);
  }
}

/* Code blocks */
code,
pre {
  font-size: 0.875rem;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  color: #bfbdb6;
  background: $bg;
}

pre {
  overflow: auto;
  padding: 1.5rem 0.75rem;
}

:not(pre) > code {
  padding: 0.25rem;
}

@media (prefers-color-scheme: light) {
  body {
    color: $bg;
    background: $fg;
  }

  code,
  pre {
    border-radius: 0.25rem;
  }
}
