body {
  font-family: "Avenir Next", "Open Sans", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;

  max-width: 70ch;
  margin: 0 auto;
  padding: 1em;

  color: #fff;
  background-color: #0b0e14;
}

p {
  text-align: justify;
}

a code {
  color: inherit;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
}

h2,
h3 {
  margin-top: 2em;
}

article {
  margin: 2em 0;
}

$link-color: #ffaa33;

a {
  color: $link-color;

  &:visited {
    color: darken($link-color, 10%);
  }

  &:hover,
  &:focus {
    color: lighten($link-color, 10%);
  }
}

/* Code blocks */
code,
pre {
  font-size: 14px;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  color: #bfbdb6;
}

pre {
  overflow: auto;
  padding: 1.5rem 0.75rem;
}

:not(pre) > code {
  padding: 2px 3px;
}
