body {
  font-family: sans-serif;
  height: 100%;
  color: #555;

  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 0.75rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #181818;
    color: #eee;
  }
}
