h1 {
  font-weight: 800;

  @include vr(
    $font-size: 6,
    $margin-top: 1,
    $margin-bottom: 1
  );
}

h2 {
  font-weight: 400;

  @include vr(
    $font-size: 3,
    $margin-top: 2,
    $margin-bottom: 1
  );
}

h3 {
  font-weight: 400;

  @include vr(
    $font-size: 2,
    $margin-top: 2,
    $margin-bottom: 1
  );
}
