.header {
  display: flex;
  @include vr(
    $margin-top: 1,
    $margin-bottom: 1
  );
}

.header__link {
  @include vr(
    $margin-left: 0.5,
    $margin-right: 0.5
  );
}

.header__title {
  @include vr(
    $margin-right: 0.5
  );
}
