# https://www.getzola.org/documentation/deployment/github-pages/
name: Build and deploy Zola site to GitHub Pages
on:
  push:
    branches:
      - master
jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      # Prepare
      - uses: actions/checkout@master
      - name: pnpm setup
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda
        with:
          run_install: false
      - name: Use Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: '22.14.0'
          cache: 'pnpm'
      - name: Setup Zola
        uses: taiki-e/install-action@zola
      - run: pnpm install
      # Build
      - run: zola build -o build
      - run: BUILD_DIR=build pnpm gulp
      # Publish
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          force_orphan: true
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
